<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 20px;
    }

    .login-container {
      max-width: 300px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    .input-group {
      margin-bottom: 15px;
      text-align: left;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Enter your username">
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Enter your password">
    </div>
    <a href="/home"><button onclick="login()">Login</button></a>
    <p class="login-link">Don't have an account? <a href="/register">Sign Up in Here!</a></p>
  </div>

  <!-- <script>
    function login() {
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;

      // Send a POST request to the server with the provided credentials
      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username, password }),
      })
      .then(response => {
        if (response.ok) {
          // Redirect to the homepage or handle success
          window.location.href = '/';
        } else {
          // Display an error message
          alert('Wrong username or password');
        }
      })
      .catch(error => console.error('Error:', error));
    }
  </script> -->
</body>
</html>
